<!--The content below is only a placeholder and can be replaced.-->
<srf-app-header></srf-app-header>
<srf-time-clock></srf-time-clock>
<div style="text-align:center">
  <h1>
    The Surf Report
  </h1>
  <h4 style="font-size:18px;">Brought to you by:</h4>
  <div><img width="150" alt="Angular Logo" src="assets/images/final-logo.png"> <span style="font-size:80px;padding:50px;">+</span><img width="150" alt="magicseaweed logo" src="http://images.magicseaweed.com/news/311.jpg"></div>
</div>
<div>
    <h3>Your Daily Dose:</h3>
    <div>
        <label>Choose a city:</label>
        <input type=""text" >
    </div>
</div>
<!--<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tutorials</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->
<srf-app-footer></srf-app-footer>

